<app-header></app-header>
<div
  class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
  style="
    background-image: url('https://images.pexels.com/photos/3622632/pexels-photo-3622632.jpeg');
  "
>
  <div
    class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8"
  >
    <div class="text-white">
      <div class="mb-8 flex flex-col items-center">
        <img
          src="https://www.svgrepo.com/show/492787/book-and-people-spring.svg"
          width="150"
          alt=""
          srcset=""
        />
        <h1 class="mb-2 text-2xl">Book for you</h1>
        <span class="text-gray-300">Enter Registration Details</span>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="text"
            formControlName="firstName"
            placeholder="First Name"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="text"
            formControlName="address"
            placeholder="Address"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="text"
            formControlName="userName"
            placeholder="Username"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-3xl border-none bg-pink-300 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>

        <div class="mt-8 flex justify-center text-lg text-black">
          <button
            type="submit"
            class="rounded-3xl bg-pink-400 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-pink-600"
          >
            สมัครสมาชิก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
