<div class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
  <div class="bg-white p-6 rounded shadow">
    <h2 class="text-2xl font-bold mb-4 text-pink-600">Edit Product</h2>
    <form [formGroup]="productForm">
      <div class="mb-6">
        <label class="block text-gray-700 mb-2" for="image">รูปหนังสือ</label>
        <input
          type="file"
          id="image"
          class="p-2 border rounded w-full"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">ชื่อหนังสือ</label>
        <input
          type="text"
          id="productName"
          placeholder="ชื่อหนังสือ"
          class="p-2 border rounded w-full"
          formControlName="productName"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">รายละเอียด</label>
        <textarea
          id="productDesc"
          placeholder="รายละเอียด"
          class="p-2 border rounded w-full"
          formControlName="productDesc"
        ></textarea>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">ประเภทหนังสือ</label>
        <div class="col-12">
          <select
            class="p-2 border rounded w-full"
            formControlName="productTypeId"
          >
            <option value="">======== กรุณาเลือก ========</option>
            <ng-container *ngFor="let type of productTypes">
              <option value="{{ type.id }}">{{ type.productTypeName }}</option>
            </ng-container>
          </select>
        </div>
      </div>

      <div class="mb-6">
        <label class="block text-gray-700 mb-2">ราคา</label>
        <input
          type="text"
          id="price"
          placeholder="ราคา"
          class="p-2 border rounded w-full"
          formControlName="price"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">คงคลัง</label>
        <input
          type="text"
          id="quantity"
          placeholder="คงคลัง"
          class="p-2 border rounded w-full"
          formControlName="quantity"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">สถานะ</label>
        <input
          type="text"
          id="quantity"
          placeholder="สถานะ"
          class="p-2 border rounded w-full"
          formControlName="status"
        />
      </div>
      <button
        (click)="onsubmit()"
        type="submit"
        class="bg-pink-500 text-white px-4 py-2 rounded w-full"
      >
        Add Product
      </button>
    </form>
  </div>
</div>
