<ng-container *ngIf="DataProduct">
  <div class="max-w-4xl mx-auto p-5">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="flex flex-col md:flex-row">
        <div class="md:w-5/6">
          <img
            [src]="'data:image/png;base64,' + productImg[0]"
            alt="Book Image"
            class="rounded-lg w-full"
          />
        </div>
        <div class="md:w-2/3 md:ml-6 mt-4 md:mt-0">
          <h1 class="text-3xl font-bold text-pink-600">
            {{ DataProduct.productName }}
          </h1>
          <p class="mt-2 text-gray-600">
            {{ DataProduct.productDesc }}
          </p>
          <div class="mt-44">
            <span class="text-2xl font-bold text-pink-600">
              {{ DataProduct.price }} บาท</span
            >
          </div>
          <div class="mt-4 flex items-center">
            <div class="flex items-center">
              <svg
                class="h-5 w-5 text-yellow-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 .587l3.668 7.57 8.332 1.151-6 5.87 1.42 8.304L12 18.257l-7.42 4.225L6 15.178l-6-5.87 8.332-1.151z"
                />
              </svg>
              <svg
                class="h-5 w-5 text-yellow-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 .587l3.668 7.57 8.332 1.151-6 5.87 1.42 8.304L12 18.257l-7.42 4.225L6 15.178l-6-5.87 8.332-1.151z"
                />
              </svg>
              <svg
                class="h-5 w-5 text-yellow-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 .587l3.668 7.57 8.332 1.151-6 5.87 1.42 8.304L12 18.257l-7.42 4.225L6 15.178l-6-5.87 8.332-1.151z"
                />
              </svg>
              <svg
                class="h-5 w-5 text-yellow-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 .587l3.668 7.57 8.332 1.151-6 5.87 1.42 8.304L12 18.257l-7.42 4.225L6 15.178l-6-5.87 8.332-1.151z"
                />
              </svg>
              <svg
                class="h-5 w-5 text-yellow-500"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 .587l3.668 7.57 8.332 1.151-6 5.87 1.42 8.304L12 18.257l-7.42 4.225L6 15.178l-6-5.87 8.332-1.151z"
                />
              </svg>
            </div>
            <div class="text-sm text-gray-600 ml-2">4.75 (4)</div>
          </div>
          <div class="mt-6 flex space-x-4">
            <button
              class="bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition duration-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
