<div class="container mx-auto mt-10">
  <div class="bg-pink-500 text-white text-lg font-bold py-4 px-6 rounded-t-lg">
    Manage Orders
  </div>
  <div class="bg-white shadow-md rounded-b-lg overflow-hidden p-6">
    <div class="mb-4 flex justify-between">
      <input
        type="text"
        placeholder="Search Orders"
        class="p-2 border rounded w-full max-w-sm bg-white"
      />
      <button class="bg-pink-500 text-white px-4 py-2 rounded ml-4">
        Add Order
      </button>
    </div>

    <table class="min-w-full">
      <thead>
        <tr>
          <th
            class="py-2 px-4 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Order ID
          </th>
          <th
            class="py-2 px-4 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            User ID
          </th>
          <th
            class="py-2 px-4 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Total Amount
          </th>
          <th
            class="py-2 px-4 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Status
          </th>
          <th
            class="py-2 px-4 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          ></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <ng-container *ngFor="let order of getAllOrder">
          <tr>
            <td class="py-2 px-4 whitespace-nowrap">{{ order.id }}</td>
            <td class="py-2 px-4 whitespace-nowrap">{{ order.userId }}</td>
            <td class="py-2 px-4 whitespace-nowrap">{{ order.total }}</td>
            <td class="py-2 px-4 whitespace-nowrap">{{ order.status }}</td>
            <td class="py-2 px-4 whitespace-nowrap">
              <button
                (click)="toggleOrderDetails(order.id)"
                class="bg-blue-500 text-white px-2 py-1 rounded"
              >
                {{
                  isOrderDetailsVisible(order.id) ? "ซ่อน" : "รายละเอียดสินค้า"
                }}
              </button>
              <button
                (click)="onDeleteOrder(order.id)"
                class="bg-red-500 text-white px-2 py-1 rounded ml-2"
              >
                ลบ
              </button>
            </td>
          </tr>
          <tr *ngIf="isOrderDetailsVisible(order.id)">
            <td colspan="5" class="p-4">
              <table class="min-w-full bg-gray-100 rounded-lg">
                <thead>
                  <tr>
                    <th
                      class="py-2 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Product ID
                    </th>
                    <th
                      class="py-2 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Quantity
                    </th>
                    <th
                      class="py-2 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Unit Price
                    </th>
                    <th
                      class="py-2 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Image
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <ng-container *ngFor="let detail of order.orderDetails">
                    <tr>
                      <td class="py-2 px-4 whitespace-nowrap">
                        {{ detail.productId }}
                      </td>
                      <td class="py-2 px-4 whitespace-nowrap">
                        {{ detail.quantity }}
                      </td>
                      <td class="py-2 px-4 whitespace-nowrap">
                        {{ detail.unitPrice }}
                      </td>
                      <td class="py-2 px-4 whitespace-nowrap">
                        <img
                          class="h-24"
                          [src]="'data:image/png;base64,' + detail.img[0]"
                          alt="product"
                        />
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
